<div class="content l-12">
  <div class="content__heading">
    <h2>Danh sách sản phẩm</h2>
  </div>
  <div class="content__main">
    <div class="content__main__heading">
      <div class="content__main__add">
        <span>Thêm sản phẩm:</span>
        <button
          class="content__main__add__btn"
          (click)="redirectPage('/admin/product/adding')"
          title="Thêm mới"
        >
          <fa-icon
            class="form__group__icon"
            [icon]="iCon"
            class="icon"
          ></fa-icon>
        </button>
      </div>
      <form class="form" action="">
        <div class="form__group">
          <input id="search-form"
            class="form__group__input"
            style="margin-top: 0; width: 300px"
            type="search"
            placeholder="Tìm kiếm..."
            (keyup)="findProduct($event)"
          />
          <button id="search-button" type="submit" class="form__group__submit">
            <fa-icon
              
              class="form__group__icon"
              [icon]="iconSearch"
              class="icon fa-search"
            ></fa-icon>
          </button>
        </div>
      </form>
    </div>
    <div class="content__main__list" >
      <table class="table" >
        <thead>
          <tr>
            <th>Mã sản phẩm</th>
            <th>Hình ảnh</th>
            <th>Tên sản phẩm</th>
            <th>Giá</th>
            <th>Khuyến mãi</th>
            <th>Trạng thái</th>
            <th>Thao tác</th>
          </tr>
        </thead>
        <tbody class="listTodo" >
          <ng-container *ngFor="let item of productList; let i = index">
            <tr>
              <td>{{ item.id }}</td>
              <td>
                <img class="img" [src]="ImageUrl + item.img" alt="" />
              </td>
              <td>{{ item.name }}</td>
              <td>{{ item.price | number}} VND</td>
              <td>{{ item.rate }}%</td>
              <td>{{ item.status ? "đang kinh doanh" : "ngừng kinh doanh"}}</td>
              <td>
                <div class="operation">
                  
                    <button class="btn btn-info" title="Thông tin" 
                    [appModal]="item.id + 'info'"
                    [positionClose]="i"
                    [widthSize]="'40%'">
                      <fa-icon [icon]="iconInfo" class="icon"></fa-icon>
                    </button>

                    <ng-template #detailsConfig>
                      <h2>Thông tin chi tiết cấu hình</h2>
                      <p><span class="info-label">Mã cấu hình: </span> <span id="lastName">{{item.config?.size}}</span></p>
                      <p><span class="info-label">Kích thước máy: </span> <span id="lastName">{{item.config?.size}}</span></p>
                      <p><span class="info-label">Ram: </span> <span id="lastName">{{item.config?.ram}}</span></p>
                      <p><span class="info-label">Cpu: </span> <span id="lastName">{{item.config?.cpu}}</span></p>
                      <p><span class="info-label">Kích thước màng hình: </span> <span id="lastName">{{item.config?.displaySize}}</span></p>
                      <p><span class="info-label">Card đồ hoạ: </span> <span id="lastName">{{item.config?.graphicCard}}</span></p>
                      <p><span class="info-label">Hệ điều hành: </span> <span id="lastName">{{item.config?.operatingSystem}}</span></p>
                      <p><span class="info-label">Trọng lượng: </span> <span id="lastName">{{item.config?.weight}}</span></p>
                      <p><span class="info-label">Lắp ráp tại: </span> <span id="lastName">{{item.config?.madeIn}}</span></p>
                      <p><span class="info-label">Ổ cứng: </span> <span id="lastName">{{item.config?.hardDrive}}</span></p>
                      <p><span class="info-label">Năm sản  xuất: </span> <span id="lastName">{{item.config?.madeYear}}</span></p>
                    </ng-template>
                  
                    <app-modal
                      [idModal]="item.id + 'info'"
                      [template]="detailsConfig"
                    ></app-modal>
                  
                  <button class="btn btn-update" title="Cập nhật" (click)="redirectPage('admin/product/updating/' + item.id)">
                    <fa-icon [icon]="iconUpdate" class="icon"></fa-icon>
                  </button>
                  <button class="btn btn-add" title="Cập nhật giá sản phẩm" (click)="redirectPage('/admin/product/' + item.id + '/price' )">
                    <fa-icon [icon]="iconAdd" class="icon"></fa-icon>
                  </button >
                  <ng-container *ngIf="true">
                    <button class="btn btn-remove" title="Xoá" 
                  [appModal]="item.id + ''"
                  [positionClose]="i"
                  [widthSize]="'20%'">
                    <fa-icon [icon]="iconDelete" class="icon"></fa-icon>
                  </button>
                  <ng-template #content>
                    Chắc chắn bạn xoá cấu hình này không?
                  </ng-template>
                  <ng-template #notify>
                    <app-notification
                      (checked)="checked($event, item, 'delete')"
                      [template]="content"
                    ></app-notification>
                  </ng-template>

                  <app-modal
                    [idModal]="item.id + ''"
                    [template]="notify"
                  ></app-modal>
                  </ng-container>
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <div class="content__main__pagination">
      <!-- <ul class="pagination">
             <li class="pagination__item active">1</li>
             <li class="pagination__item">2</li>
             <li class="pagination__item">3</li>
             <li class="pagination__item">...</li>
             <li class="pagination__item">7</li>
             <li class="pagination__item">8</li>
             <li class="pagination__item">9</li>
         </ul> -->
      <app-pagination
        [currentPage]="currentPage!"
        [totalPages]="totalPages"
        [pageSize]="itemsPerPage"
        (goToPage)="onPageChange($event)"
      >
      </app-pagination>
    </div>
  </div>
  
  <ng-container *ngIf="message != undefined"  
  [appModal]="'notification'"
  [positionClose]="1"
  [widthSize]="'20%'"
  [openModal]="true">
    <ng-template #a>
      {{message}}
    </ng-template>

    <app-modal
    [idModal]="'notification'"
    [template]="a"
  ></app-modal>
  </ng-container>
  
</div>
