<div class="container">
  <div class="register">
    <form [formGroup]="register" class="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <h2 class="form-group-title">Đăng kí</h2>
      </div>
      <div class="form-group">
        <label class="form-group-label" for="username"><fa-icon [icon]="fasuser" class="form-icon"></fa-icon>Tên tài khoản</label>
        <input
          id="username"
          class="form-group-input"
          type="text"
          formControlName="username"
          placeholder="Nhập tên tài khoản"
        />

        <span
          class="form-group-error"
          *ngIf="
            f['username'].invalid &&
            (f['username'].dirty || f['username'].touched)
          "
        >
          <span *ngIf="f['username'].errors">
            <span *ngIf="f['username'].errors['required']"
              >Trường này cần nhập</span
            >
            <span *ngIf="f['username'].errors['minlength']"
              >Trường này ít nhất 6 kí tự</span
            >
          </span>
        </span>

        <span class="form-group-error" *ngIf="messageError"> 
          <span >{{messageError}}</span>
        </span>
      </div>
      <div class="form-group">
        <label class="form-group-label" for="username"><fa-icon [icon]="fasuser" class="form-icon"></fa-icon>Họ</label>
        <input
          id="username"
          class="form-group-input"
          type="text"
          formControlName="lastName"
          placeholder="Nhập tên họ"
        />

        <span
          class="form-group-error"
          *ngIf="
            f['lastName'].invalid &&
            (f['lastName'].dirty || f['lastName'].touched)
          "
        >
          <span *ngIf="f['lastName'].errors">
            <span *ngIf="f['lastName'].errors['required']"
              >Trường này cần nhập</span
            >
            <span *ngIf="f['lastName'].errors['minlength']"
              >Trường này ít nhất 3 kí tự</span
            >
          </span>
        </span>

        <span class="form-group-error" *ngIf="messageError"> 
          <span >{{messageError}}</span>
        </span>
      </div>
      <div class="form-group">
        <label class="form-group-label" for="username"><fa-icon [icon]="fasuser" class="form-icon"></fa-icon>Tên</label>
        <input
          id="username"
          class="form-group-input"
          type="text"
          formControlName="firstName"
          placeholder="Nhập tên tên"
        />

        <span
          class="form-group-error"
          *ngIf="
            f['firstName'].invalid &&
            (f['firstName'].dirty || f['firstName'].touched)
          "
        >
          <span *ngIf="f['firstName'].errors">
            <span *ngIf="f['firstName'].errors['required']"
              >Trường này cần nhập</span
            >
            <span *ngIf="f['firstName'].errors['minlength']"
              >Trường này ít nhất 3 kí tự</span
            >
          </span>
        </span>

        <span class="form-group-error" *ngIf="messageError"> 
          <span >{{messageError}}</span>
        </span>
      </div>
      <div class="form-group">
        <label class="form-group-label" for="email"><fa-icon [icon]="fasuser" class="form-icon"></fa-icon>Email</label>
        <input
          id="email"
          class="form-group-input"
          type="text"
          formControlName="email"
          placeholder="Nhập email"
        />

        <span
          class="form-group-error"
          *ngIf="
            f['email'].invalid &&
            (f['email'].dirty || f['email'].touched)
          "
        >
          <span *ngIf="f['email'].errors">
            <span *ngIf="f['email'].errors['required']"
              >Trường này cần nhập</span
            >
            <span *ngIf="f['email'].errors['email']"
              >Trường này phải là email </span
            >
          </span>
        </span>

        <span class="form-group-error" *ngIf="messageError"> 
          <span >{{messageError}}</span>
        </span>
      </div>
      <div class="form-group">
        <label class="form-group-label" for="email"><fa-icon [icon]="fasuser" class="form-icon"></fa-icon>số điện thoại</label>
        <input
          id="username"
          class="form-group-input"
          type="text"
          formControlName="phoneNumber"
          placeholder="Nhập tên số điện thoại"
        />

        <span
          class="form-group-error"
          *ngIf="
            f['phoneNumber'].invalid &&
            (f['phoneNumber'].dirty || f['phoneNumber'].touched)
          "
        >
          <span *ngIf="f['phoneNumber'].errors">
            <span *ngIf="f['phoneNumber'].errors['required']"
              >Trường này cần nhập</span
            >
            <span *ngIf="f['phoneNumber'].errors['minlength']"
              >Trường này phải 10 kí tự</span
            >
            <span *ngIf="f['phoneNumber'].errors['maxlength']"
              >Trường này phải 10 kí tự</span
            >
          </span>
        </span>

        <span class="form-group-error" *ngIf="messageError"> 
          <span >{{messageError}}</span>
        </span>
      </div>
      <div class="form-group">
        <label class="form-group-label" for="password"><fa-icon [icon]="faslock" class="form-icon"></fa-icon>Mật khẩu</label>
        <input
          id="password"
          class="form-group-input"
          type="password"
          formControlName="password"
          placeholder="Nhập mật khẩu"
        />
        <span
          class="form-group-error"
          *ngIf="
            f['password'].invalid &&
            (f['password'].dirty || f['password'].touched)
          "
        >
          <span *ngIf="f['password'].errors">
            <span *ngIf="f['password'].errors['required']"
              >Trường này cần nhập</span
            >
            <span *ngIf="f['password'].errors['minlength']"
              >Trường này ít nhất 6 kí tự</span
            >
          </span>
        </span>
      </div>
      <div class="form-group">
        <label class="form-group-label" for="confirmPassword"
          ><fa-icon [icon]="faslock" class="form-icon"></fa-icon>Xác nhận mật khẩu</label
        >
        <input
          id="confirmPassword"
          class="form-group-input"
          type="password"
          formControlName="confirmPassword"
          placeholder="Nhập xác nhận mật khẩu"
        />
        <span
          class="form-group-error"
          *ngIf="
            f['confirmPassword'].invalid &&
            (f['confirmPassword'].dirty || f['confirmPassword'].touched)
          "
        >
          <span *ngIf="f['confirmPassword'].errors">
            <span *ngIf="f['confirmPassword'].errors['required']"
              >Trường này cần nhập</span
            >
            <span *ngIf="f['confirmPassword'].errors['matching']"
              >Xác nhận mật khẩu thất bại</span
            >
          </span>
        </span>
      </div>
      <div class="form-group">
        <button
          [disabled]="!register.valid"
          [className]="
            !register.valid ? 'form-group-btn-disabled' : 'form-group-btn'
          "
          type="submit"
        >
          Đăng kí
        </button>
      </div>
      <div class="form-group">
        <div class="form-group-link">
          <a class="form-group-link-login" routerLink="/login"
            >Tôi đã có tài khoản</a
          >
        </div>
      </div>
    </form>
  </div>
</div>


<div id="Model" class="modal" *ngIf="messageSuccess && isMessageSuccess">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" appDisplayModel>&times;</span>
    <p>{{messageSuccess}}</p>
  </div>

</div>
