<div class="content l-12">
  <div class="content__heading">
    <h2>Danh sách đơn đặt hàng</h2>
  </div>
  <div class="content__main">
    <div class="content__main__heading">
  
      <div class="content__main__add row">

        <div class="content__main__add__btn l-3" routerLinkActive="active" [routerLink]="'/admin/bill/not-approve-yet'">
          <h4 class="">Đơn hàng chưa duyệt</h4>
        </div>
        <div class="content__main__add__btn l-3" routerLinkActive="active" [routerLink]="'/admin/bill/disapprove'">
          <h4 class="">Đơn hàng từ chối</h4>
        </div>
        <div class="content__main__add__btn l-3" routerLinkActive="active" [routerLink]="'/admin/bill/approve'">
          <h4 class="">Đơn hàng đã duyệt</h4>
        </div>
        <div class="content__main__add__btn l-3 mt-10" routerLinkActive="active" [routerLink]="'/admin/bill/in-transit'">
          <h4 class="">Đơn hàng đang giao</h4>
        </div>
        <div class="content__main__add__btn l-3 mt-10" routerLinkActive="active" [routerLink]="'/admin/bill/delivered'">
          <h4 class="">Đơn hàng đã giao</h4>
        </div>
        <div class="content__main__add__btn l-3 mt-10" routerLinkActive="active" [routerLink]="'/admin/bill/completed'">
          <h4 class="">Đơn hàng đã hoàn thành</h4>
        </div>

      </div>
      <!-- <form class="form" action="">
        <div class="form__group">
          <input id="search-form"
            class="form__group__input"
            style="margin-top: 0; width: 300px"
            type="search"
            placeholder="Tìm kiếm..."
          />
          <button id="search-button" type="submit" class="form__group__submit">
            <fa-icon
              
              class="form__group__icon"
              [icon]="iconSearch"
              class="icon fa-search"
            ></fa-icon>
          </button>
        </div>
      </form> -->
    </div>
    <router-outlet></router-outlet>
  </div>

  <ng-container
    *ngIf="message != undefined"
    [appModal]="'notification'"
    [positionClose]="1"
    [widthSize]="'20%'"
    [openModal]="true"
  >
    <ng-template #a>
      {{ message }}
    </ng-template>

    <app-modal [idModal]="'notification'" [template]="a"></app-modal>
  </ng-container>
</div>
