<div class="row ">
  <ul class=" l-12 breadcrumb">
    <li class="breadcrumb-item"><a href="">Trang chủ</a></li>
    <li class="breadcrumb-item"><a href="">Chi tiết sản phẩm</a></li>
  </ul>
</div>

<div class="row r-m mt-30 mb-40 details-product-name">
  <div class=" l-10 name">
    <h2>
      {{product?.name}}
    </h2>
  </div>
  <div class=" l-2 btns">
    <a class="link" [routerLink]="['/compare',product?.name]"
      ><fa-icon [icon]="facompare" class="icon"></fa-icon> So sánh</a
    >
  </div>
</div>
<div class="row r-m details-product-img">
  <div class=" l-4 imgs">
    <img
    [src]="ImageUrl + product?.img"
      alt=""
    />
  </div>
  <div class=" l-8 details-product-info">
    <div class="info-config">
      <h2 class="info-config-title">Thông số kỹ thuật</h2>
      <div class="info-config-body">
        <table class="table">
          <tbody>
            <tr>
              <td>Màn hình</td>
              <td>
                {{product?.config?.displaySize}}
              </td>
            </tr>
            <tr>
              <td>CPU</td>
              <td>{{product?.config?.cpu}}</td>
            </tr>
            <tr>
              <td>RAM</td>
              <td>{{product?.config?.ram}}</td>
            </tr>
            <tr>
              <td>Ổ cứng</td>
              <td>{{product?.config?.hardDrive}}</td>
            </tr>
            <tr>
              <td>Đồ họa</td>
              <td>{{product?.config?.graphicCard}}</td>
            </tr>
            <tr>
              <td>Hệ điều hành</td>
              <td>{{product?.config?.operatingSystem}}</td>
            </tr>
            <tr>
              <td>Trọng lượng</td>
              <td>{{product?.config?.weight}}</td>
            </tr>
            <tr>
              <td>Kích thước</td>
              <td>{{product?.config?.size}}</td>
            </tr>
            <tr>
              <td>Xuất xứ</td>
              <td>{{product?.config?.madeIn}}</td>
            </tr>
            <tr>
              <td>Năm ra mắt</td>
              <td>{{product?.config?.madeYear}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <button (click)="onAddIntoCart(product?.id)">Mua ngay</button>
  </div>

</div>
