<div class="content l-12">
  <ul class="l-12 breadcrumb" style="padding: 10px;">
    <li class="breadcrumb-item"><a [routerLink]="'/admin/discount'">Danh sách khuyến mãi</a></li>
    <li class="breadcrumb-item"><a>tạo hãng</a></li>
  </ul>
  <div class="content__heading">
    <h2>Mẫu tạo khuyến mãi</h2>
  </div>
  <div class="content__main">
    <div class="row">
      <div class="l-12">
        <form [formGroup]="discount" style="padding: 20px 60px;">
          <label for="id">Mã khuyến mãi:</label>
          <input id="id"
          type="text"
          formControlName="id"
          placeholder="Nhập tên tài khoản"
          (keydown)="onKeydownName($event)">
          <span
              class="error-message"
              *ngIf="
                f['id'].invalid &&
                (f['id'].dirty || f['id'].touched)
              "
            >
              <span *ngIf="f['id'].errors">
                <span *ngIf="f['id'].errors['required']"
                  >Trường này cần nhập</span
                >
              </span>
            </span>
            <span
              class="error-message"
              *ngIf="messageErrorName"
            >
              
                <span>
                  {{messageErrorName}}</span
                >
              </span>
            
              <label for="id">Ngày bắt đầu:</label>
          <input id="id"
          type="date"
          formControlName="startDay"
          placeholder="Nhập tên tài khoản"
          (keydown)="onKeydownName($event)">
          <span
              class="error-message"
              *ngIf="
                f['startDay'].invalid &&
                (f['startDay'].dirty || f['startDay'].touched)
              "
            >
              <span *ngIf="f['startDay'].errors">
                <span *ngIf="f['startDay'].errors['required']"
                  >Trường này cần nhập</span
                >
              </span>
            </span>

            <label for="id">Ngày kết thúc:</label>
          <input id="id"
          type="date"
          formControlName="endDay"
          placeholder="Nhập tên tài khoản"
          (keydown)="onKeydownName($event)">
          <span
              class="error-message"
              *ngIf="
                f['endDay'].invalid &&
                (f['endDay'].dirty || f['endDay'].touched)
              "
            >
              <span *ngIf="f['endDay'].errors">
                <span *ngIf="f['endDay'].errors['required']"
                  >Trường này cần nhập</span
                >
              </span>
            </span>

            <label for="id">Phần trăm giảm:</label>
            <input id="id"
            type="number"
            formControlName="discountPercent"
            placeholder="Nhập tên tài khoản"
            (keydown)="onKeydownName($event)">
            <span
                class="error-message"
                *ngIf="
                  f['discountPercent'].invalid &&
                  (f['discountPercent'].dirty || f['discountPercent'].touched)
                "
              >
                <span *ngIf="f['discountPercent'].errors">
                  <span *ngIf="f['discountPercent'].errors['required']"
                    >Trường này cần nhập</span
                  >
                </span>
              </span>
  
        
            <label for="id">Lí do:</label>
            <textarea  rows="10" formControlName="reason">

            </textarea>
          <span
              class="error-message"
              *ngIf="
                f['id'].invalid &&
                (f['id'].dirty || f['id'].touched)
              "
            >
              <span *ngIf="f['id'].errors">
                <span *ngIf="f['id'].errors['required']"
                  >Trường này cần nhập</span
                >
              </span>
            </span>

            <button [disabled]="!discount.valid"
          [className]="
          !discount.valid  ? 'form-group-btn-disabled' : 'form-group-btn'
          "
          [appModal]="'notification'"
          [positionClose]="0"
          [widthSize]="'20%'">Xác nhận</button>
      </form>
      </div>
    </div>
    
  </div>

  <ng-template #context>
    Chắc chắn bạn muốn tạo hãng này không?
  </ng-template>

  <ng-template #notify>
    <app-notification 
    (checked)="checked($event,null,'')" [template]="context">
    </app-notification>
  </ng-template>

  <app-modal [idModal]="'notification'" [template]="notify">
  </app-modal>

  <ng-container *ngIf="messageSuccess"  
  [appModal]="'notification-success'"
  [positionClose]="1"
  [widthSize]="'20%'"
  [openModal]="true">
    <ng-template #success>
      {{messageSuccess}}
    </ng-template>

    <app-modal
    [idModal]="'notification-success'"
    [template]="success"
  ></app-modal>
  </ng-container>
</div>

