<div class="content l-12">
  <ul class="l-12 breadcrumb" style="padding: 10px">
    <li class="breadcrumb-item">
      <a [routerLink]="'/admin/account-staff'">Danh nhân viên</a>
    </li>
    <li class="breadcrumb-item"><a>tạo nhân viên</a></li>
  </ul>
  <div class="content__heading">
    <h2>Mẫu tạo nhân viên</h2>
  </div>
  <div class="content__main">
    <div class="row">
      
      <div class="l-12">
        <form [formGroup]="signup" style="padding: 20px 60px">
          <label for="username">Tên tài khoản :</label>
          <input
            id="username"
            type="text"
            formControlName="username"
            placeholder="Tên tài khoản"
          />
          <span
            class="error-message"
            *ngIf="f['username'].invalid && (f['username'].dirty || f['username'].touched)"
          >
            <span *ngIf="f['username'].errors">
              <span *ngIf="f['username'].errors['required']"
                >Trường này cần nhập</span
              >
            </span>
          </span>

          
          <label for="lastName">Họ :</label>
          <input
            id="lastName"
            type="text"
            formControlName="lastName"
            placeholder="Nhập họ"
          />
          <span
            class="error-message"
            *ngIf="
              f['lastName'].invalid && (f['lastName'].dirty || f['lastName'].touched)
            "
          >
            <span *ngIf="f['lastName'].errors">
              <span *ngIf="f['lastName'].errors['required']"
                >Trường này cần nhập</span
              >
            </span>
          </span>

          <label for="firstName">Tên :</label>
          <input
            id="firstName"
            type="text"
            formControlName="firstName"
            placeholder="Nhập tên"
          />
          <span
            class="error-message"
            *ngIf="
              f['firstName'].invalid && (f['firstName'].dirty || f['firstName'].touched)
            "
          >
            <span *ngIf="f['firstName'].errors">
              <span *ngIf="f['firstName'].errors['required']"
                >Trường này cần nhập</span
              >
            </span>
          </span>

          <label for="identification">Công cước công dân :</label>
          <input
            id="identification"
            type="text"
            formControlName="identification"
            placeholder="Nhập số công cước công dân"
          />
          <span
            class="error-message"
            *ngIf="
              f['identification'].invalid && (f['identification'].dirty || f['identification'].touched)
            "
          >
            <span *ngIf="f['identification'].errors">
              <span *ngIf="f['identification'].errors['required']"
                >Trường này cần nhập</span
              >
            </span>
          </span>

          <label for="phoneNumber">Số điện thoại :</label>
          <input
            id="phoneNumber"
            type="text"
            formControlName="phoneNumber"
            placeholder="Nhập số điện thoại"
          />
          <span
            class="error-message"
            *ngIf="
              f['phoneNumber'].invalid && (f['phoneNumber'].dirty || f['phoneNumber'].touched)
            "
          >
            <span *ngIf="f['phoneNumber'].errors">
              <span *ngIf="f['phoneNumber'].errors['required']"
                >Trường này cần nhập</span
              >
            </span>
          </span>

          <label for="email">Email :</label>
          <input
            id="email"
            type="email"
            formControlName="email"
            placeholder="Nhập email"
          />
          <span
            class="error-message"
            *ngIf="
              f['email'].invalid && (f['email'].dirty || f['email'].touched)
            "
          >
            <span *ngIf="f['email'].errors">
              <span *ngIf="f['email'].errors['required']"
                >Trường này cần nhập</span
              >
            </span>
          </span>

          <label for="birthDay">Ngày sinh :</label>
          <input
            id="birthDay"
            type="date"
            formControlName="birthDay"
          />
          <span
            class="error-message"
            *ngIf="
              f['birthDay'].invalid && (f['birthDay'].dirty || f['birthDay'].touched)
            "
          >
            <span *ngIf="f['birthDay'].errors">
              <span *ngIf="f['birthDay'].errors['required']"
                >Trường này cần nhập</span
              >
            </span>
          </span>


          <label for="role">Lựa chức vụ :</label>
          <select
            
            formControlName="role"
          >
            <option [ngValue]="null">Lựa chọn chức vụ</option>
            <option *ngFor="let item of roles" [ngValue]="item">
              {{ item.name }}
            </option>
          </select>
          <span
            class="error-message"
            *ngIf="
              f['role'].invalid && (f['role'].dirty || f['role'].touched)
            "
          >
            <span *ngIf="f['role'].errors">
              <span *ngIf="f['role'].errors['required']"
                >Trường này cần nhập</span
              >
            </span>
          </span>
          <button
            [disabled]="!signup.valid"
            [className]="
              signup.valid
                ? 'form-group-btn-disabled'
                : 'form-group-btn'
            "
            [appModal]="'notification'"
            [positionClose]="0"
            [widthSize]="'20%'"
          >
            Xác nhận
          </button>
        </form>
      </div>
    </div>di
  </div>

  <ng-template #context> Chắc chắn bạn muốn tạo hãng này không? </ng-template>

  <ng-template #notify>
    <app-notification
      (checked)="checked($event, null, '')"
      [template]="context"
    >
    </app-notification>
  </ng-template>

  <app-modal [idModal]="'notification'" [template]="notify"> </app-modal>

  <ng-container
    *ngIf="messageSuccess"
    [appModal]="'notification-success'"
    [positionClose]="1"
    [widthSize]="'20%'"
    [openModal]="true"
  >
    <ng-template #success>
      {{ messageSuccess }}
    </ng-template>

    <app-modal
      [idModal]="'notification-success'"
      [template]="success"
    ></app-modal>
  </ng-container>

  <ng-container
    *ngIf="messageError"
    [appModal]="'notification-fail'"
    [positionClose]="1"
    [widthSize]="'20%'"
    [openModal]="true"
  >
    <ng-template #fail>
      {{ messageError}}
    </ng-template>

    <app-modal
      [idModal]="'notification-fail'"
      [template]="fail"
    ></app-modal>
  </ng-container>

  
</div>
