<div class="content l-12">
  <ul class="l-12 breadcrumb" style="padding: 10px">
    <li class="breadcrumb-item">
      <a [routerLink]="'/admin/product'">Danh sách hãng</a>
    </li>
    <li class="breadcrumb-item"><a>tạo hãng</a></li>
  </ul>
  <div class="content__heading">
    <h2>Mẫu tạo hãng sản xuất</h2>
  </div>
  <div class="content__main">
    <div class="row">
      <div class="l-2">
        <img [src]="imageUrl" alt="" class="brand_image" />
      </div>
      <div class="l-10">
        <form [formGroup]="product" style="padding: 20px 60px">
          <label for="name">Tên sản phẩm :</label>
          <input
            id="name"
            type="text"
            formControlName="name"
            placeholder="Nhập tên sản phẩm"
            (keydown)="onKeydownName($event)"
          />
          <span
            class="error-message"
            *ngIf="f['name'].invalid && (f['name'].dirty || f['name'].touched)"
          >
            <span *ngIf="f['name'].errors">
              <span *ngIf="f['name'].errors['required']"
                >Trường này cần nhập</span
              >
            </span>
          </span>
          <span class="error-message" *ngIf="messageErrorName">
            <span> {{ messageErrorName }}</span>
          </span>

          <label for="img">Ảnh đại diện:</label>
          <input
            type="file"
            formControlName="img"
            id="img"
            name="img"
            (change)="onFileChange($event)"
          />
          <span
            class="error-message"
            *ngIf="f['img'].invalid && (f['img'].dirty || f['img'].touched)"
          >
            <span *ngIf="f['img'].errors">
              <span *ngIf="f['img'].errors['required']"
                >Trường này cần nhập</span
              >
            </span>
          </span>

          <label for="name">Giá sản phẩm :</label>
          <input
            id="name"
            type="number"
            formControlName="price"
            placeholder="Nhập giá"
            (keydown)="onKeydownName($event)"
          />
          <span
            class="error-message"
            *ngIf="
              f['price'].invalid && (f['price'].dirty || f['price'].touched)
            "
          >
            <span *ngIf="f['price'].errors">
              <span *ngIf="f['price'].errors['required']"
                >Trường này cần nhập</span
              >
            </span>
          </span>

          <label for="name">Lựa chọn hãng :</label>
          <select
            formControlName="brand"
          > 
          <option [ngValue]="null" disabled>Lựa chọn hãng</option>
            <option *ngFor="let brand of brandList" [ngValue]="brand">
              {{ brand.name }}
            </option>
          </select>
          <span
            class="error-message"
            *ngIf="
              f['brand'].invalid && (f['brand'].dirty || f['brand'].touched)
            "
          >
            <span *ngIf="f['brand'].errors">
              <span *ngIf="f['brand'].errors['required']"
                >Trường này cần nhập</span
              >
            </span>
          </span>

          <label for="name">Lựa cấu hình :</label>
          <select
            
            formControlName="config"
          >
            <option [ngValue]="null">Lựa chọn cấu hình</option>
            <option *ngFor="let config of configList" [ngValue]="config">
              {{ config.nameConfig }}
            </option>
          </select>
          <span
            class="error-message"
            *ngIf="
              f['config'].invalid && (f['config'].dirty || f['config'].touched)
            "
          >
            <span *ngIf="f['config'].errors">
              <span *ngIf="f['config'].errors['required']"
                >Trường này cần nhập</span
              >
            </span>
          </span>

          <label for="name">Lựa dòng máy :</label>
          <select
            
            formControlName="label"
          >
            <option [ngValue]="null">Lựa chọn dòng máy</option>
            <option *ngFor="let item of labels" [value]="item.value">
              {{ item.name }}
            </option>
          </select>
          <span
            class="error-message"
            *ngIf="
              f['label'].invalid && (f['label'].dirty || f['label'].touched)
            "
          >
            <span *ngIf="f['label'].errors">
              <span *ngIf="f['label'].errors['required']"
                >Trường này cần nhập</span
              >
            </span>
          </span>

          <label for="name">Mô tả sản phẩm :</label>
          <textarea formControlName="description" id="" cols="30" rows="10"></textarea>

          <label for="status">Kích hoạt:</label>
          <input
            type="checkbox"
            id="status"
            name="status"
            formControlName="status"
          />

          <button
            [disabled]="!(f['name'].valid && f['img'].valid)"
            [className]="
              !(f['name'].valid && f['img'].valid)
                ? 'form-group-btn-disabled'
                : 'form-group-btn'
            "
            [appModal]="'notification'"
            [positionClose]="0"
            [widthSize]="'20%'"
          >
            Xác nhận
          </button>
        </form>
      </div>
    </div>
  </div>

  <ng-template #context> Chắc chắn bạn muốn tạo hãng này không? </ng-template>

  <ng-template #notify>
    <app-notification
      (checked)="checked($event, null, '')"
      [template]="context"
    >
    </app-notification>
  </ng-template>

  <app-modal [idModal]="'notification'" [template]="notify"> </app-modal>

  <ng-container
    *ngIf="messageSuccess"
    [appModal]="'notification-success'"
    [positionClose]="1"
    [widthSize]="'20%'"
    [openModal]="true"
  >
    <ng-template #success>
      {{ messageSuccess }}
    </ng-template>

    <app-modal
      [idModal]="'notification-success'"
      [template]="success"
    ></app-modal>
  </ng-container>
</div>
