<div class="slideshow row r-m">
  <div class="row slideshow-list">
    <div class="col l-12 slideshow-item "data-index="0">
      <a href="" class="slideshow-link">
        <img
          src="https://images.fpt.shop/unsafe/fit-in/1200x300/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2023/5/8/638191577309244728_F-C1_1200x300.png"
          class="location__highlight--img"
        />
      </a>
    </div>
    <div class="col l-12 slideshow-item "data-index="1">
      <a href="" class="slideshow-link">
        <img
          src="https://images.fpt.shop/unsafe/fit-in/1200x300/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2023/6/17/638226032440937276_F-C1_1200x300.png"
          class="location__highlight--img"
        />
      </a>
    </div>
    <div class="col l-12 slideshow-item" data-index="2">
      <a href="" class="slideshow-link">
        <img
          src="https://images.fpt.shop/unsafe/fit-in/1200x300/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2023/5/1/638184978240095804_F-C1_1200x300.png"
          class="location__highlight--img"
        />
      </a>
    </div>
  </div>
  <button class="btn-ad btn-left" appBtnPrev>
    <fa-icon [icon]="fasleft" class="icon"></fa-icon>
  </button>
  <button class="btn-ad btn-right" appBtnNext>
    <fa-icon [icon]="fasright" class="icon"></fa-icon>
  </button>
</div>
