<div class="content l-12">
    <div class="content__heading">
      <h2>Danh sách tài khoản nhân viên</h2>
    </div>
    <div class="content__main">
      <div class="content__main__heading">
        <div class="content__main__add">
          <span>Thêm nhân viên:</span>
          <button
            class="content__main__add__btn"
            (click)="redirectPage('/admin/account-staff/adding')"
            title="Thêm mới"
          >
            <fa-icon
              class="form__group__icon"
              [icon]="iCon"
              class="icon"
            ></fa-icon>
          </button>
        </div>
        <form class="form" action="">
          <div class="form__group">
            <input id="search-form"
              class="form__group__input"
              style="margin-top: 0; width: 300px"
              type="search"
              placeholder="Tìm kiếm..."
              (keyup)="findAccount($event)"
            />
            <button id="search-button" class="form__group__submit">
              <fa-icon
                class="form__group__icon"
                [icon]="iconSearch"
                class="icon fa-search"
              ></fa-icon>
            </button>
          </div>
        </form>
      </div>
      <div class="content__main__list">
        <table class="table">
          <thead>
            <tr>
              <th>Hình ảnh</th>
              <th>Tên tài khoản</th>
              <th>Chức vụ</th>
              <th>Trạng thái</th>
              <th>Thao tác</th>
            </tr>
          </thead>
          <tbody class="listTodo">
            <ng-container *ngFor="let item of staffAccountList; let i = index; trackBy: trackByFn">
              <tr>
                <td>
                  <img class="img" [src]="ImageUrl + item.user?.image" alt="" />
                </td>
                <td>{{ item.username }}</td>
                <td>{{ item.role?.name }}</td>
                <td>{{ item.status ? "hoạt động" : "bị khoá" }}</td>
                <td>
                  <div class="operation">
                    <button class="btn btn-info" title="Thông tin" [appModal]="item.username + 'info'"
                    [positionClose]="i"
                    [widthSize]="'40%'">
                      <fa-icon [icon]="iconInfo" class="icon"></fa-icon>
                    </button >
                    <ng-template #content>
                      <h2>Thông tin người dùng</h2>
                      <p><span class="info-label">Họ: </span> <span id="lastName">{{item.staff?.lastName}}</span></p>
                      <p><span class="info-label">Tên: </span> <span id="firstName">{{item.staff?.firstName}}</span></p>
                      <p><span class="info-label">Ngày sinh: </span> <span id="birthday">{{item.staff?.birthDay | date : 'dd-MM-yyyy'}}</span></p>
                      <p><span class="info-label">Số điện thoại: </span> <span id="phoneNumber">{{item.staff?.phoneNumber}}</span></p>
                    </ng-template>
                    <app-modal
                      [idModal]="item.username + 'info'"
                      [template]="content"
                    ></app-modal>
                   
                    <ng-container *ngIf="!item.status">
                      <button class="btn btn-info" title="Mở hoạt động" [appModal]="item.username + ''"
                      [positionClose]="i"
                      [widthSize]="'20%'">
                        <fa-icon  [icon]="iconupdate" class="icon"></fa-icon>
                      </button>
                      <ng-template #content>
                        Chắc chắn bạn muốn mở hoạt động của tài khoản này không?
                      </ng-template>
                      <ng-template #notify>
                        <app-notification
                          (checked)="checked($event, item, 'active')"
                          [template]="content"
                        ></app-notification>
                      </ng-template>
    
                      <app-modal
                        [idModal]="item.username + ''"
                        [template]="notify"
                      ></app-modal>
                    </ng-container>

                    <button class="btn btn-update" title="Chỉnh sửa" (click)="redirectPage('/admin/account-staff/updating/' + item.id)">
                        <fa-icon  [icon]="iconupdate" class="icon"></fa-icon>
                      </button>
  
                    <ng-container *ngIf="item.status">
                      <button class="btn btn-remove" title="Đóng hoạt động" 
                      [appModal]="item.username + ''"
                      [positionClose]="i"
                      [widthSize]="'20%'">
                        <fa-icon [icon]="iconDelete" class="icon"></fa-icon>
                      </button>
                      <ng-template #content>
                        Chắc chắn bạn muốn tắt hoạt động của tài khoản này không?
                      </ng-template>
                      <ng-template #notify>
                        <app-notification
                          (checked)="checked($event, item, 'inactive')"
                          [template]="content"
                        ></app-notification>
                      </ng-template>
    
                      <app-modal
                        [idModal]="item.username + ''"
                        [template]="notify"
                      ></app-modal>
                    </ng-container>

                    
                  </div>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
      <div class="content__main__pagination">
        <!-- <ul class="pagination">
               <li class="pagination__item active">1</li>
               <li class="pagination__item">2</li>
               <li class="pagination__item">3</li>
               <li class="pagination__item">...</li>
               <li class="pagination__item">7</li>
               <li class="pagination__item">8</li>
               <li class="pagination__item">9</li>
           </ul> -->
        <app-pagination
          [currentPage]="currentPage!"
          [totalPages]="totalPages"
          [pageSize]="itemsPerPage"
          (goToPage)="onPageChange($event)"
        >
        </app-pagination>
      </div>
    </div>
    
    <ng-container *ngIf="message != undefined"  
    [appModal]="'notification'"
    [positionClose]="1"
    [widthSize]="'20%'"
    [openModal]="true">
      <ng-template #a>
        {{message}}
      </ng-template>
  
      <app-modal
      [idModal]="'notification'"
      [template]="a"
    ></app-modal>
    </ng-container>
    
  </div>
  