<div class="content__main__list">
  <table class="table">
    <thead>
      <tr>
        <th>Mã phiếu đặt</th>
        <th>Họ và tên</th>
        <th>Tỉnh</th>
        <th>Huyện</th>
        <th>Xã</th>
        <th>Địa chỉ</th>
        <th>Ghi chú</th>
        <th>Thao tác</th>
      </tr>
    </thead>
    <tbody class="listTodo">
      <ng-container *ngFor="let item of orderList; let i = index">
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.user?.lastName}} {{item.user?.firstName}}</td>
          <td>{{ item.province }}</td>
          <td>{{ item.district }}</td>
          <td>{{ item.ward }}</td>
          <td>{{ item.addressHome }}</td>
          <td>{{ item.note }}</td>
          <td>
            <div class="operation">
              <button
                class="btn btn-info"
                title="Thông tin"
                [appModal]="item + 'info'"
                [positionClose]="i"
                [widthSize]="'40%'"
              >
                <fa-icon [icon]="iconInfo" class="icon"></fa-icon>
              </button>

              <ng-template #detailsConfig>
                <h2>Thông tin chi tiết hoá đơn</h2>
                <ng-container *ngFor="let b of item.billDetails">
                  <p><span class="info-label">Tên sản phẩm: </span> <span>{{ b.product?.name}}</span></p>
                  <p><span class="info-label">Số lượng: </span> <span>{{ b?.quantity}}</span></p>
                  <p><span class="info-label">Giá: </span> <span>{{ caculatePrice(b.product?.price!,b.product?.rate!) | number}} VND</span></p>
                  <p><span class="info-label">Tổng tiền: </span> <span>{{ totalPay(b.product?.price!,b.product?.rate!,b?.quantity!) | number}} VND</span></p>
                </ng-container>
              </ng-template>

              <app-modal
                [idModal]="item + 'info'"
                [template]="detailsConfig"
              ></app-modal>

              <button
                  class="btn btn-add"
                  title="Xoá"
                  [appModal]="item + 'approve'"
                  [positionClose]="i"
                  [widthSize]="'20%'"
                >
                  <fa-icon [icon]="iconUpdate" class="icon"></fa-icon>
                </button>
                <ng-template #contentApprove>
                  Chắc chắn bạn đã giao đơn này đến khách hàng?
                </ng-template>
                <ng-template #notifyApprove>
                  <app-notification
                    (checked)="checked($event, item, 'approve')"
                    [template]="contentApprove"
                  ></app-notification>
                </ng-template>

                <app-modal
                  [idModal]="item + 'approve'"
                  [template]="notifyApprove"
                ></app-modal>
             
                <button
                  class="btn btn-remove"
                  title="Xoá"
                  [appModal]="item + 'cancle'"
                  [positionClose]="i"
                  [widthSize]="'20%'"
                >
                  <fa-icon [icon]="iconDelete" class="icon"></fa-icon>
                </button>
                <ng-template #content>
                  Chắc chắn bạn huỷ đơn này không?
                </ng-template>
                <ng-template #notify>
                  <app-notification
                    (checked)="checked($event, item, 'cancle')"
                    [template]="content"
                  ></app-notification>
                </ng-template>

                <app-modal
                  [idModal]="item + 'cancle'"
                  [template]="notify"
                ></app-modal>
              
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
<div class="content__main__pagination">
  <!-- <ul class="pagination">
         <li class="pagination__item active">1</li>
         <li class="pagination__item">2</li>
         <li class="pagination__item">3</li>
         <li class="pagination__item">...</li>
         <li class="pagination__item">7</li>
         <li class="pagination__item">8</li>
         <li class="pagination__item">9</li>
     </ul> -->
  <app-pagination
    [currentPage]="currentPage!"
    [totalPages]="totalPages"
    [pageSize]="itemsPerPage"
    (goToPage)="onPageChange($event)"
  >
  </app-pagination>
</div>

<ng-container *ngIf="message != undefined"  
  [appModal]="'notification'"
  [positionClose]="1"
  [widthSize]="'20%'"
  [openModal]="true">
    <ng-template #a>
      {{message}}
    </ng-template>

    <app-modal
    [idModal]="'notification'"
    [template]="a"
  ></app-modal>
  </ng-container>