<div class="content l-12">
  <ul class="l-12 breadcrumb" style="padding: 10px">
    <li class="breadcrumb-item">
      <a [routerLink]="'/admin/discount'">Danh sách khuyến mãi</a>
    </li>
    <li class="breadcrumb-item"><a>Chỉnh sữa khuyến mãi</a></li>
  </ul>
  <div class="content__heading">
    <h2>Mẫu chỉnh sữa sản phẩm khuyến mãi</h2>
  </div>
  <div class="content__main">
    <div class="row">
      <div class="l-12">
        <div class="row" style="padding: 20px 60px">
          <div class="l-3 infor-discount">
            <p>Mã khuyến mãi: {{ discountModel!.id }}</p>
          </div>
          <div class="l-3 infor-discount">
            <p>Ngày bắt đầu: {{ discountModel!.startDay | date : "dd/MM/y" }}</p>
          </div>
          <div class="l-3 infor-discount">
            <p>Ngày kết thúc: {{ discountModel!.endDay | date : "dd/MM/y" }}</p>
          </div>
          <div class="l-3 infor-discount">
            <p>Phần trăm giảm:{{ discountModel!.discountPercent }}%</p>
          </div>
          <div class="l-12 infor-discount">
            <h4>Lí do:</h4>
            <p>{{ discountModel!.reason }}</p>
          </div>
          <div class="l-12 infor-discount" [formGroup]="discountForm">
            <form formArrayName="products">
              <ng-container *ngFor="let productsForm of products.controls;let i = index" [formGroupName]="i">
                <div class="row" >
                  <label class="l-12" for="name">Sản phẩm {{ i + 1 }} :</label>
                  <select class="l-11"  formControlName="product">
                    <option [value]="null" disabled>Lựa chọn sản phẩm</option>
                    <option
                      *ngFor="let product of productList"
                      [ngValue]="product"
                      
                    >
                      {{ product.name }}
                    </option>
                  </select>

                  <div
                    class="l-1"
                    style="
                      display: flex;
                      flex-direction: row-reverse;
                      margin-bottom: 15px;
                    "
                  >
                    <button
                      style="background-color: red"
                      (click)="deDiscountDetails(i)"
                    >
                      Xoá
                    </button>
                  </div>

                  <div class="l-12">
                    <span
                      class="error-message"
                      *ngIf="
                      products.controls[i].invalid &&
                        (products.controls[i].dirty ||
                        products.controls[i].touched)
                      "
                    >
                      <span *ngIf="products.controls[i].invalid">
                        Trường này cần chọn
                      </span>
                    </span>
                  </div>
                </div>
              </ng-container>
              <div class="row">
                <div class="l-6 infor-discount">
                  <button class="form-group-btn" (click)="creDiscountDetails()">
                    Thêm sản phẩm
                  </button>
                </div>
                <div
                  class="l-6 infor-discount"
                  style="display: flex; flex-direction: row-reverse"
                >
                  <button
                  [disabled]="discountForm.invalid"
                    [className]="
                    discountForm.invalid
                        ? 'form-group-btn-disabled'
                        : 'form-group-btn'
                    "
                    [appModal]="'notification'"
                    [positionClose]="0"
                    [widthSize]="'20%'"
                  >
                    Xác nhận
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <ng-template #context> Chắc chắn bạn muốn tạo hãng này không? </ng-template>

    <ng-template #notify>
      <app-notification
        (checked)="checked($event, null, '')"
        [template]="context"
      >
      </app-notification>
    </ng-template>

    <app-modal [idModal]="'notification'" [template]="notify"> </app-modal>

    <ng-container
      *ngIf="message"
      [appModal]="'notification-success'"
      [positionClose]="1"
      [widthSize]="'20%'"
      [openModal]="true"
    >
      <ng-template #success>
        {{ message }}
      </ng-template>

      <app-modal
        [idModal]="'notification-success'"
        [template]="success"
      ></app-modal>
    </ng-container>
  </div>
</div>
