<div class="content l-12">
    <ul class="l-12 breadcrumb" style="padding: 10px">
      <li class="breadcrumb-item">
        <a [routerLink]="'/admin/account-staff'">Danh nhân viên</a>
      </li>
      <li class="breadcrumb-item"><a>Cập nhật nhân viên</a></li>
    </ul>
    <div class="content__heading">
      <h2>Cập nhật chức vụ nhân viên</h2>
    </div>
    <div class="content__main">
      <div class="row">
        
        <div class="l-12">
          <form [formGroup]="account" style="padding: 20px 60px">

            <label for="role">Lựa chức vụ :</label>
            <select
              
              formControlName="role"
            >
              <option [ngValue]="null">Lựa chọn chức vụ</option>
              <option *ngFor="let item of roles" [ngValue]="item">
                {{ item.name }}
              </option>
            </select>
            <span
              class="error-message"
              *ngIf="
                f['role'].invalid && (f['role'].dirty || f['role'].touched)
              "
            >
              <span *ngIf="f['role'].errors">
                <span *ngIf="f['role'].errors['required']"
                  >Trường này cần nhập</span
                >
              </span>
            </span>
            <button
              [disabled]="!account.valid"
              [className]="
                account.valid
                  ? 'form-group-btn-disabled'
                  : 'form-group-btn'
              "
              [appModal]="'notification'"
              [positionClose]="0"
              [widthSize]="'20%'"
            >
              Xác nhận
            </button>
          </form>
        </div>
      </div>
    </div>
  
    <ng-template #context> Chắc chắn bạn muốn tạo hãng này không? </ng-template>
  
    <ng-template #notify>
      <app-notification
        (checked)="checked($event, null, '')"
        [template]="context"
      >
      </app-notification>
    </ng-template>
  
    <app-modal [idModal]="'notification'" [template]="notify"> </app-modal>
  
    <ng-container
      *ngIf="messageSuccess"
      [appModal]="'notification-success'"
      [positionClose]="1"
      [widthSize]="'20%'"
      [openModal]="true"
    >
      <ng-template #success>
        {{ messageSuccess }}
      </ng-template>
  
      <app-modal
        [idModal]="'notification-success'"
        [template]="success"
      ></app-modal>
    </ng-container>
  
    <ng-container
      *ngIf="messageError"
      [appModal]="'notification-fail'"
      [positionClose]="1"
      [widthSize]="'20%'"
      [openModal]="true"
    >
      <ng-template #fail>
        {{ messageError}}
      </ng-template>
  
      <app-modal
        [idModal]="'notification-fail'"
        [template]="fail"
      ></app-modal>
    </ng-container>
  
    
  </div>
  