
<header class="header">
  <div class="header-logo l-4 flex algin-items-center">
    <a class="header-logo-link" href="">
      <img [src]="'assets/imgs/logo.jpg'" alt="asdas">
    </a>
  </div>
  <div class="header-search l-4">
    <input  type="search" name="" id="" placeholder="Nhập tên laptop... cần tìm" [value]="product?.name" (keyup)="searchProductLeft($event)" (blur)="hideSearchLeft()">
    <ul #suggestedSearchLeft class="suggested-search">
      <li *ngFor="let item of productList">
        <a (mousedown)="selectProductLeft(item?.name)">
          <div class="suggested-search-block row">
            <div class="suggested-search-img l-2">
              <img
              [src]="ImageUrl + item.img"
                alt=""
              />
            </div>
            <div class="suggested-search-info l-10">
              <span class="suggested-search-name"
                >{{item.name}} {{item.config?.operatingSystem}} {{item.config?.hardDrive}}</span
              >
              <span class="suggested-search-cost">{{totalPrice(item.price!,item.rate!) | number}} VND</span>
            </div>
          </div>
        </a>
      </li> 
    </ul>
    <button>Tìm kiếm</button>
  </div>
  <div class="header-nav l-4">
      <ul #headerNavMenu>
        <li><a [routerLink]="'home'" routerLinkActive="active"  ariaCurrentWhenActive="page" title="Trang chủ" class="header-nav-item"><fa-icon [icon]="fashome" class="icon"></fa-icon></a></li>
        <li><a [routerLink]="'compare'" title="So sánh" routerLinkActive="active" class="header-nav-item"><fa-icon [icon]="fascompare" class="icon"></fa-icon></a></li>
        <li><a [routerLink]="'cart'" title="Giỏ hàng" routerLinkActive="active" class="header-nav-item"><fa-icon [icon]="fascart" class="icon"></fa-icon></a></li>
        <li><a [routerLink]="'order/list'" title="Danh sách đặt hàng" routerLinkActive="active" class="header-nav-item"><fa-icon [icon]="fastruck" class="icon"></fa-icon></a></li>
        <li (click)="openNotification($event)">
          <a  title="Thông báo" class="header-nav-item"><fa-icon [icon]="faBell" class="icon"></fa-icon>
            <span class="badge" *ngIf="quantityNotification != 0">{{quantityNotification}}</span>
            <div class="dropdowns-notification" *ngIf="notificationList?.length != 0" (click)="handleDropdownClick($event)">
            
                <div *ngFor="let item of notificationList" class="dropdowns-item dropdowns-notification-item" (click)="lookedNotification(item.id!,item)">
                  <div class="dropdowns-notification-item-img">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9cmtlm5nTUSpoSJGvWVPjAYPwjUPpcgEmPnv_XLjltATGgq5XNaFKuu7fKdz62N_AvIo&usqp=CAU" alt="">
                  </div>
                  <div class="dropdowns-notification-item-info">
                    <div class="dropdowns-notification-item-info-title"><h3>{{item.title}}</h3></div>
                    <div class="dropdowns-notification-item-info-body"><p>{{item.body}}</p></div>
                    <div class="dropdowns-notification-item-info-datetime"><span>Ngày: {{item.date | date :"dd/MM/yyyy HH:mm a"}}</span></div>
                  </div>
                  <div class="dropdowns-notification-item-remove" (click)="removeNotification(item.id!,item)">
                    <button><fa-icon [icon]="faremvoe" class="icon"></fa-icon></button>
                  </div>
                </div>
            </div>
            <div class="dropdowns-notification" *ngIf="notificationList?.length == 0">
              <div class="dropdowns-notification-empty" (click)="handleDropdownClick($event)">
                <span>Không có thông báo mới</span>
              </div>
            </div>
          </a>
        </li>
        <li><a class="header-nav-item"><fa-icon [icon]="faslogin" class="icon"></fa-icon>
          <div class="dropdowns" *ngIf="isLogged">
            <div class="dropdowns-item"><button (click)="redirectToPage('/profile')">Hồ sơ</button></div>
            <div class="dropdowns-item"><button (click)="onLogout()">Thoát</button></div>
          </div>
          <div class="dropdowns" *ngIf="!isLogged">
            <div class="dropdowns-item"><button (click)="redirectToPage('/login')">Đăng nhập</button></div>
            <div class="dropdowns-item"><button (click)="redirectToPage('/register')">Đăng kí</button></div>
          </div>
        </a>
        </li>
      </ul>
  </div>
</header>
