.header {
    z-index: 100;
    position: fixed;
    display: flex;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #776BCC;
}

/* .header-logo{

}

.header-logo a{
    
} */

.header-logo a img{
    height: 40px;
    width: 60px;
    border-radius: 10px;
}


.header-search{
    display: flex;
    align-items: center;
}

.header-search input[type=search]{
    flex: 1;
    height: 60%;
    border: none;
    padding: 6px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.header-search button{
    height: 60%;
    border: none;
    cursor: pointer;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.header-search button:hover{
    background: #ccc;
}

/* .header-nav{
    
} */

.header-nav ul{
    float: right;
}

.header-nav ul li{
    display: inline-block;
    padding: 10px 0px;
}

.header-nav ul li a{
    display: block;
    font-size: 1.6rem;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    border-radius: 3px;
}

.header-nav ul li a:hover{
    background-color: #463d8370;
}

.active{
    background-color: #463d8370;
}

.header-nav-item{
    position: relative;
}

.header-nav-item .badge {
    position: absolute;
    top: -2px;
    right: 6px;
    padding: 2px 6px;
    border-radius: 50%;
    background: red;
    color: white;
  }

.header-nav-item:hover .dropdowns{
    display: block;
}


.dropdowns{
    display: none;
    position: absolute;
    background-color: #fff;
    top: 130%;
    right: 0px;
    width: 100px;
}

.dropdowns-notification{
    display: none;
    position: absolute;
    background-color: #fff;
    top: 128%;
    right: 0px;
    width: 400px;
    height: 278px;
}

.dropdowns::after{
    display: block;
    position: absolute;
    content: "";
    left: 64px;
    top: -10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
}

.dropdowns-notification::after{
    display: block;
    position: absolute;
    content: "";
    right: 18px;
    top: -10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
}

.dropdowns .dropdowns-item{

}

.dropdowns .dropdowns-item button{
    color: #776BCC;
    background-color: #fff;
    border: none;
    font-size: 1.6rem;
    padding: 6px;
    width: 100%;
    text-align: start;
}

.dropdowns .dropdowns-item button:hover{
    background-color: #463d8370;
    color: #fff;
}

.suggested-search {
    display: block;
    position: absolute;
    top: 43px;
    z-index: 10;
    border: 0.5px solid #ddd;
    background-color: #fff;
    overflow: hidden;
    overflow-y: auto;
    width: 510px;
  }
  
  /* Customize the scrollbar track */
  .suggested-search::-webkit-scrollbar {
    width: 4px; /* Width of the scrollbar */
    background-color: #d4dae0;
  }
  
  /* Customize the scrollbar thumb */
  .suggested-search::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 5px; /* Rounded corners of the thumb */
  }
  
  .suggested-search li {
    padding: 6px;
    border: 1px solid #ddd;
    
  }
  .suggested-search li a {
    cursor: pointer;
    color: blueviolet;
  }
  
  /* .suggested-search li a .suggested-search-block {
  } */
  
  .suggested-search li a .suggested-search-block .suggested-search-img img {
    height: 60px;
    width: 60px;
    margin-right: 10px;
  }
  
  .suggested-search li a .suggested-search-block .suggested-search-info {
    font-size: 1.4rem;
    display: flex;
    flex-flow: column;
    color: #000;
  }
  
  .suggested-search
    li
    a
    .suggested-search-block
    .suggested-search-info
    .suggested-search-name {
    display: block;
    flex: 1;
    line-height: 20px;
  }
  
  .suggested-search
    li
    a
    .suggested-search-block
    .suggested-search-info
    .suggested-search-cost {
    display: block;
    line-height: 20px;
  }

  .dropdowns-notification-item{
    padding: 5px;
    display: flex;
    cursor: pointer;
  }

  .dropdowns-notification-item:hover{
    background-color: #c2bceb;
  }

  .dropdowns-notification-item:not(:last-child){
    border-bottom: 0.2px solid black;
  }

  .dropdowns-notification-item-img img{
    width: 80px;
    height: 80px;
  }

  .dropdowns-notification-item-info{
    display: flex;
    color: black;
    flex-wrap: wrap;
    align-items: center;
  }

  .dropdowns-notification-item-info .dropdowns-notification-item-info-body p{
    margin: 0;
}

  .dropdowns-notification-item-info .dropdowns-notification-item-info-datetime span{
    font-size: 1.2rem;
  }

  .dropdowns-notification-item-remove{
    display: flex;
    align-items: center;
  }

  .dropdowns-notification-item-remove button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px; 
    border-radius: 50%;
    border: none;
  }

  .dropdowns-notification-item-remove button:hover{
    background-color: #776BCC;
    color: white;
  }

  .dropdowns-notification-empty{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    height: 100%;
  }

  .dropdowns-notification-empty .span{
    display: block;
    height: inherit;
  }

  .icon{
    display: flex;
  }



